<h1>Créditos</h1>

	<a href='quiz-2017-js.herokuapp.com/index'>Inicio</a>
    	<a href='quiz-2017-js.herokuapp.com/help'>Ayuda</a>
<p>
    Esta práctica ha sido desarrollada por Javier Sanchez Rueda y 
    David Paz Castro
</p>

<a href='https://github.com/javiersr1996/quiz_2017'>Repositorio GitHub</a>

<img src="/images/foto.jpg" />

