<h1>Ayuda</h1>

<p>
    Este juego se basa en contestar una serie de preguntas.
    Introduce una respuesta y sabrás si has acertado o no.
    El proyecto tiene como objetivo aorender a desarrollar un proyecto 
    software con nodejs, express, ...
</p>

<img src="/images/lechuck.jpg" />

