<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2>WELCOME</h2>

    <a href='/'>Inicio</a>
    <a href='/author'>Créditos</a>
    <a href='/help'>Ayuda</a>


  </body>
</html>
